<h1>About</h1>

<p class="lead pt-4">This project is my solution to the Shopify Intern Backend Challenge
				for Winter 2021.<br>
				Built with Ruby on Rails, this image repository lets users post their own images, and view images made by others.  </p>

<h2 class="pt-2">How to use</h2>

<p class="lead pt-3">The home page shows all images published by users. You can search for an image by its title using the search bar. <br>
To post an image, you need to sign up or log in. From there, you can view or edit all your images, publish/unpublish them, or permanently delete an image. <br>

If an admin finds a post that they deem inappropriate, they can edit or delete the post.</p>		


<div class="text-center pt-4">
	<a href="https://github.com/yasir-saeed/Shopify-Intern-Backend-Challenge-Winter-2021"
	   target="_blank" style="color:black"><i class="fa fa-github-square fa-5x pr-2" ></i></a>

	<a href="https://www.linkedin.com/in/saeedyasir/" target="_blank" style="color:black">
	<i class="fa fa-linkedin-square fa-5x pr-2"> </i></a>

    <a href="mailto:contact@yasirsaeed.ca" target="_blank" style="color:black"><i class="fa fa-envelope-square fa-5x "></i></a>
  
</div>

